@import url('https://fonts.googleapis.com/css?family=Satisfy');

.row-offset-mid {
    margin-top: 20vh;
}

.row-offset-small {
    margin-top: 15vh;
}

.brand-text {
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    margin-top: 15px;
}

#dp {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-brand {
    padding-top: 8px;
}